<div class="p2">

        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th>#</th>      
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                
            <tr>
                <td>Entire Cart #{{cart.id}} </td>
                <td></td>
                <td>                                  
                    <button class="btn btn-danger" data-="{{user.role}}" style="display: none" id="deleteCart" data-id="{{cart.id}}">Delete All Card Products</button>
                </td>
            </tr>
            {{#each productsData}}
            <tr>
                <td>Cart #{{this._productId}} </td>
                <td>Products in cart {{this.product}}</td>
                <td>Product Price ${{this.price}}</td>

                <td>
                    <a href="/add/{{this._productId}}" class="btn btn-success">Edit</a>
                    <button class="deleteProductsFromCart btn btn-danger" id="{{this._productId}}" data-id="{{@index}}">Delete</button>

                </td>
            </tr>
            
            {{/each}}
            </tbody>

        </table>
            <div class="pb-3 mx-3 d-flex justify-content-between w-75 align-center">        
                <a class="btn btn-warning" href="/" >Volver</a>
                <a href="/api/carts/{{cart.id}}/purchase" class="btn btn-primary ">Finish purchase</a>
            </div>
        </div>

    </div>
<script src="/js/editCart.js"></script>